.footerContainer{
    padding-top: 70px !important;
    background-color: var(--primary-color);
    font-size: 17px;
    font-family: AvenirLTStd-Roman;
}

.form-control{
    font-size: 17px;
}

.submitBtn{
    font-size: 15px;
    padding: 7px 20px;
}

.extraInfo{
    text-align:  center;
    padding-left: 100px;
}

.qrs{
    display: flex;
    justify-content: center;
}

.qrs>img{
    margin: 10px;
    width: 180px;
}

.titleFooter{
    font-family: AlternateBold;
    font-size: 50px; text-align: center;
}

.slider-logos{
    border-top: 1px solid white;
    text-align: center;
    padding: 0 50px;
}

.lgs-com{
    height:auto;
    width: 200px;
}

.div-container-img{
    display: flex !important; 
    justify-content: center;
    align-items: center;
}

.redes > a{
    width: 32px;
    margin: 7px;
}

.redes{
    margin-bottom: 10px;
}

.slick-prev, .slick-next{
    background-color: var(--primary-color) !important;
    padding: 1px 0 0 0.2px !important;
    border-radius: 50% !important;
}

.slider-logos-container{
    background-color: white;
}
